<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.knue.facultyassessment.assignments.AssignmentManagementMapper">
  <select id="findPositionAssignments" resultType="kr.ac.knue.facultyassessment.assignments.AssignmentManagementMapper$PositionAssignment">
    SELECT position_assignment_id AS "positionAssignmentId", position_code AS "positionCode", user_id AS "userId", organization_id AS "organizationId", effective_start_date AS "effectiveStartDate", effective_end_date AS "effectiveEndDate" FROM position_assignment
    <where><if test="criteria.positionCode != null and criteria.positionCode != ''">position_code = #{criteria.positionCode}</if><if test="criteria.userId != null and criteria.userId != ''">AND user_id = #{criteria.userId}</if><if test="criteria.organizationId != null and criteria.organizationId != ''">AND organization_id = #{criteria.organizationId}</if><if test="criteria.referenceDate != null">AND effective_start_date &lt;= #{criteria.referenceDate} AND (effective_end_date IS NULL OR effective_end_date &gt;= #{criteria.referenceDate})</if></where>
    ORDER BY position_code, user_id, organization_id, effective_start_date
    <if test="criteria.size != null">LIMIT #{criteria.size} OFFSET #{criteria.page}</if>
  </select>
  <select id="findWorkAssignments" resultType="kr.ac.knue.facultyassessment.assignments.AssignmentManagementMapper$WorkAssignment">
    SELECT work_assignment_id AS "workAssignmentId", organization_id AS "organizationId", user_id AS "userId", work_area AS "workArea", effective_start_date AS "effectiveStartDate", effective_end_date AS "effectiveEndDate", data_scope_type AS "dataScopeType", process_permission AS "processPermission" FROM work_assignment
    <where><if test="criteria.organizationId != null and criteria.organizationId != ''">organization_id = #{criteria.organizationId}</if><if test="criteria.userId != null and criteria.userId != ''">AND user_id = #{criteria.userId}</if><if test="criteria.workArea != null and criteria.workArea != ''">AND work_area = #{criteria.workArea}</if><if test="criteria.referenceDate != null">AND effective_start_date &lt;= #{criteria.referenceDate} AND (effective_end_date IS NULL OR effective_end_date &gt;= #{criteria.referenceDate})</if></where>
    ORDER BY organization_id, user_id, work_area, effective_start_date
    <if test="criteria.size != null">LIMIT #{criteria.size} OFFSET #{criteria.page}</if>
  </select>
  <select id="findRoleDataScopes" resultType="kr.ac.knue.facultyassessment.assignments.AssignmentManagementMapper$RoleDataScope">
    SELECT role_data_scope_id AS "roleDataScopeId", role_code AS "roleCode", data_scope_type AS "dataScopeType", organization_code AS "organizationCode", work_area AS "workArea" FROM role_data_scope
    <where><if test="criteria.roleCode != null and criteria.roleCode != ''">role_code = #{criteria.roleCode}</if><if test="criteria.dataScopeType != null and criteria.dataScopeType != ''">AND data_scope_type = #{criteria.dataScopeType}</if><if test="criteria.organizationCode != null and criteria.organizationCode != ''">AND organization_code = #{criteria.organizationCode}</if><if test="criteria.workArea != null and criteria.workArea != ''">AND work_area = #{criteria.workArea}</if></where>
    ORDER BY role_code, data_scope_type, organization_code, work_area
    <if test="criteria.size != null">LIMIT #{criteria.size} OFFSET #{criteria.page}</if>
  </select>
  <select id="userExists" resultType="boolean">SELECT EXISTS (SELECT 1 FROM user_account WHERE user_id = #{userId} AND use_yn = 'Y')</select>
  <select id="organizationExists" resultType="boolean">SELECT EXISTS (SELECT 1 FROM organization WHERE organization_id = #{organizationId} AND use_yn = 'Y')</select>
  <select id="organizationCodeExists" resultType="boolean">SELECT EXISTS (SELECT 1 FROM organization WHERE organization_code = #{organizationCode} AND use_yn = 'Y')</select>
  <select id="roleExists" resultType="boolean">SELECT EXISTS (SELECT 1 FROM role WHERE role_code = #{roleCode} AND use_yn = 'Y')</select>
  <select id="hasPositionOverlap" resultType="boolean">SELECT EXISTS (SELECT 1 FROM position_assignment WHERE position_code = #{request.positionCode} AND user_id = #{request.userId} AND organization_id = #{request.organizationId} <if test="request.positionAssignmentId != null and request.positionAssignmentId != ''">AND position_assignment_id != #{request.positionAssignmentId}</if> AND effective_start_date &lt;= COALESCE(#{request.effectiveEndDate}, DATE '9999-12-31') AND COALESCE(effective_end_date, DATE '9999-12-31') &gt;= #{request.effectiveStartDate})</select>
  <select id="hasWorkOverlap" resultType="boolean">SELECT EXISTS (SELECT 1 FROM work_assignment WHERE organization_id = #{request.organizationId} AND user_id = #{request.userId} AND work_area = #{request.workArea} <if test="request.workAssignmentId != null and request.workAssignmentId != ''">AND work_assignment_id != #{request.workAssignmentId}</if> AND effective_start_date &lt;= COALESCE(#{request.effectiveEndDate}, DATE '9999-12-31') AND COALESCE(effective_end_date, DATE '9999-12-31') &gt;= #{request.effectiveStartDate})</select>
  <insert id="insertPosition">INSERT INTO position_assignment (position_assignment_id, position_code, user_id, organization_id, effective_start_date, effective_end_date) VALUES (#{id}, #{request.positionCode}, #{request.userId}, #{request.organizationId}, #{request.effectiveStartDate}, #{request.effectiveEndDate})</insert>
  <update id="updatePosition">UPDATE position_assignment SET position_code=#{request.positionCode}, user_id=#{request.userId}, organization_id=#{request.organizationId}, effective_start_date=#{request.effectiveStartDate}, effective_end_date=#{request.effectiveEndDate}, updated_at=current_timestamp WHERE position_assignment_id=#{request.positionAssignmentId}</update>
  <insert id="insertWork">INSERT INTO work_assignment (work_assignment_id, organization_id, user_id, work_area, effective_start_date, effective_end_date, data_scope_type, process_permission) VALUES (#{id}, #{request.organizationId}, #{request.userId}, #{request.workArea}, #{request.effectiveStartDate}, #{request.effectiveEndDate}, #{request.dataScopeType}, #{request.processPermission})</insert>
  <update id="updateWork">UPDATE work_assignment SET organization_id=#{request.organizationId}, user_id=#{request.userId}, work_area=#{request.workArea}, effective_start_date=#{request.effectiveStartDate}, effective_end_date=#{request.effectiveEndDate}, data_scope_type=#{request.dataScopeType}, process_permission=#{request.processPermission}, updated_at=current_timestamp WHERE work_assignment_id=#{request.workAssignmentId}</update>
  <insert id="insertRoleDataScope">INSERT INTO role_data_scope (role_data_scope_id, role_code, data_scope_type, organization_code, work_area) VALUES (#{id}, #{request.roleCode}, #{request.dataScopeType}, #{request.organizationCode}, #{request.workArea})</insert>
  <update id="updateRoleDataScope">UPDATE role_data_scope SET role_code=#{request.roleCode}, data_scope_type=#{request.dataScopeType}, organization_code=#{request.organizationCode}, work_area=#{request.workArea}, updated_at=current_timestamp WHERE role_data_scope_id=#{request.roleDataScopeId}</update>
</mapper>
